body {
height: 100vh;
width: 100vw;
}

.start {
position: absolute;
right: 61%;
font-size: 15px;
}


.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.game-board {
    background-image: url('Checkboard.jpg');
    background-size: 200px 300px;
    /*background-color: rgb(236, 228, 221);*/
    border-style: solid;
    width: 400px; /*Board scales according to minimised window size */
    height: 800px;
    display: grid;
    grid-template: repeat(40, 1fr) / repeat(80, 1fr);
    /*(40 x 80 grid)*/
    grid-template-areas: "snake apple"; /*Keeps grid items in the same area*/
    position: relative;
}

.snake {
    /* grid-area: snake / col4 / sixth-line / 5;
    grid-row: 6; */
    width: 10px;
    height: 10px;
    border: 0.25vmin solid black;
    position: absolute;
    background-color: skyblue;
}

.apple {
    /*grid-area: apple / col5 / sixth-line / 6;
    grid-row: 6; */
    background-color: red;
    border: 0.25vmin solid black;
    width: 10px;
    height: 10px;
    position: absolute;
    /*background-image: url('apple.png'); */
}

.highScore{
    font-weight: bold;
    position: absolute;
    right: 39%;
    bottom: 7.3%;
}

.applesAte {
    font-weight: bold;
    position: absolute;
    right: 46%;
    bottom: 7.3%;
}

.start {
    background-color: pink;
    border-radius: 15px;
    position: absolute;
    right: 55%;
}